<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.cat_name }} - Forum</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include 'header.html' %}
    <!-- TODO: Make this work -->
    <!--
    <nav>
        <div class="container">
            <form id="search-form">
                <input type="text" id="search-input" placeholder="Search topics...">
                <button type="submit">Search</button>
            </form>
        </div>
    </nav>
    -->
    <main>
        <div class="container">
            <!-- TODO: We need to:
                        1) Expose the ability to delete a category to moderators
            -->
            <div class="category-header">
                <a href="/">Index</a>
                {% for (cat_id, cat_name) in bread %}
                    &nbsp;&gt;&nbsp;

                    {% if cat_id == category.id %}
                        <a href="/categories/{{ cat_id }}"><strong>{{cat_name}}</strong></a>
                    {% else %}
                        <a href="/categories/{{ cat_id }}">{{cat_name}}</a>
                    {% endif %}
                {% endfor %}

                <h2>{{ category.cat_name }}</h2>
                {{ category.cat_desc }}
            </div>

            {% if children|length > 0 or user.is_moderator() %}
                <section class="subcat">
                    <div class="topic-header-wrapper">
                        <h3 class="section-header">Subcategories ({{ children|length }})</h3>

                        {% if user.is_moderator() %}
                        <a href="/new_category?child_of={{ category.id }}">New Subcategory</a>
                        {% endif %}
                    </div>


                    {% if children|length > 0 %}
                        {% for (child, num_topics) in children %}
                            <div class="topic-row">
                                <div class="topic-title">
                                    <a href="/categories/{{ child.id }}/">{{ child.cat_name }}</a>
                                    <br />
                                    {{ child.cat_desc }}
                                </div>

                                <div class="topic-info">
                                    {% if num_topics == 1 %}
                                        1 Topic
                                    {% else %}
                                        {{ num_topics }} Topics
                                    {% endif %}
                                </div>
                            </div>


                            {% if not loop.last %}
                                <hr />
                            {% endif %}

                        {% endfor %}
                    {% else %}
                    This category has no subcategories. <a href="/new_category?child_of={{ category.id }}">Create one?</a>
                    {% endif %}
                </section>
            {% endif %}

            <section class="topics">
                <div class="topic-header-wrapper">
                    <h3 class="section-header">Topics ({{ total_results }})</h3>
                    <a href="/new_topic?child_of={{ category.id }}">New Topic</a>
                </div>


                {% if total_pages > 1 %}
                    <div class="pagination">

                        {% if current_page > 1 %}
                            <a href="/categories/{{category.id}}?page=1">&lt;&lt;</a>
                            <a class="prev-btn" href="/categories/{{ category.id }}?page={{ current_page - 1 }}">Prev</a>


                            {% for i in range([current_page - 3, 1]|max, current_page) %}
                                <a href="/categories/{{category.id}}?page={{ i }}">{{ i }}</a>
                            {% endfor %}
                        {% endif %}

                        <a href="/categories/{{category.id}}?page{{ current_page }}"><strong>{{current_page}}</strong></a>


                        {% if current_page < total_pages %}
                            {% for i in range(current_page + 1, [current_page + 4, total_pages + 1]|min) %}
                                <a href="/categories/{{category.id}}?page={{ i }}">{{ i }}</a>
                            {% endfor %}

                            <a class="next-btn" href="/categories/{{ category.id }}?page={{ current_page + 1 }}">Next</a>
                            <a href="/categories/{{category.id}}?page={{ total_pages }}">&gt;&gt;</a>
                        {% endif %}

                    </div>
                {% endif %}

                {% if total_results > 0 %}
                    {% for topic in topics %}
                        <div class="topic-row">
                            <div class="topic-title">
                                <span>
                                    <a href="/topic/{{ topic.topic_id }}">{{ topic.title }}</a>
                                    {% if topic.is_hidden() %}
                                        <span style="color:red">(HIDDEN)</span>
                                    {% endif %}
                                </span>
                                <br/>
                                Posted by <a href="/users/{{ topic.author.user_id }}">{{ topic.author.display_name }}</a> on {{ topic.created_at }}
                            </div>

                            <div class="topic-info">
                                {% if topic.num_replies == 1 %}
                                    1 Reply
                                {% else %}
                                    {{ topic.num_replies }} Replies
                                {% endif %}

                                {% if topic.most_recent_reply %}
                                    <br/>
                                    Last reply on {{ topic.most_recent_reply }}
                                {% endif %}
                            </div>
                        </div>

                        {% if not loop.last %}
                            <hr />
                        {% endif %}
                    {% endfor %}
                {% else %}
                    This category has no topics. <a href="/new_topic?child_of={{ category.id }}">Create one?</a>
                {% endif %}
            </section>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>
