<header>
        <img src="/static/uno-logo.png" alt="University of Nebraska Logo" class="logo">

        <div class="search-wrap">
            {% if user %}
            <form id="search-form" method="get" action="/search">
                <input name="q" type="text" id="search-input" class="text-input" placeholder="Search" aria-label="Search">
            </form>
            {% endif %}
        </div>

        {% if user %}
        <div class="user-nav">
            <span><a href="/users/{{user.id}}">Profile</a></span>
            <span>{{ user.display_name }} (<a href="/auth/logout">Logout?</a>)</span>
        </div>
        {% endif %}
</header>
