{% macro topic_row(topic, show_cat=False) %}
    <div class="topic-row">
        <div class="topic-title">
                                <span>
                                    <a href="/topic/{{ topic.topic_id }}">{{ topic.title }}</a>
                                    {% if topic.is_hidden() %}
                                        <span style="color:red">(HIDDEN)</span>
                                    {% endif %}
                                </span>
            <br/>
            Posted by <a href="/users/{{ topic.author.user_id }}">{{ topic.author.display_name }}</a>
            on {{ topic.created_at }} {% if show_cat %} in <a href="/categories/{{ topic.parent_cat }}/">{{ topic.parent_cat_name }}</a> {% endif %}
        </div>

        <div class="topic-info">
            {% if topic.num_replies == 1 %}
                1 Reply
            {% else %}
                {{ topic.num_replies }} Replies
            {% endif %}

            {% if topic.most_recent_reply %}
                <br/>
                Last reply on {{ topic.most_recent_reply }}
            {% endif %}
        </div>
    </div>
{% endmacro %}