<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Topic - Forum</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
{% include 'header.html' %}
<main>
    <div class="container">
        <div class="new-cat-form">

            <a class="form-link" href="/categories/{{ parent_cat.id }}">Go Back</a>

            <h2>New Topic</h2>

            {% if error %}
                <div class="banner-error mb-2">
                    {{ error }}
                </div>
            {% endif %}

            <form method="post" action="/topic/" enctype="multipart/form-data">
                <div>
                    <label>
                        Topic Title:
                        <input name="title" class="text-input" type="text" maxlength="100" required>
                    </label>
                </div>
                <div>
                    <label>
                        Topic Content:
                        <textarea name="content" style="resize: vertical;" class="text-input" maxlength="4000" rows="16" required></textarea>
                    </label>
                </div>
                <div>
                    <label>
                        Attachments:
                        <input type="file" name="files" multiple>
                    </label>
                </div>

                The topic will be posted in {{ parent_cat.cat_name }}.
                <input type="hidden" name="category" value="{{ parent_cat.id }}">
                <input type="hidden" name="create_flags" value="0">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <button class="form-btn" type="submit">Create</button>
            </form>
        </div>
    </div>
</main>
{% include 'footer.html' %}
</body>
</html>
