<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results - Forums</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include 'header.html' %}
    {% import 'macros.html' as macros %}
    <main>
        <div class="container">
            <section class="topics">
                <div class="topic-header-wrapper">
                    <h3 class="section-header">Results for {{ query }} ({{ total_results }})</h3>
                </div>


                {% if total_pages > 1 %}
                    <div class="pagination">

                        {% if current_page > 1 %}
                            <a href="{{ base_url }}&page=1">&lt;&lt;</a>
                            <a class="prev-btn" href="{{ base_url }}&page={{ current_page - 1 }}">Prev</a>


                            {% for i in range([current_page - 3, 1]|max, current_page) %}
                                <a href="{{ base_url }}&page={{ i }}">{{ i }}</a>
                            {% endfor %}
                        {% endif %}

                        <a href="{{ base_url }}&page{{ current_page }}"><strong>{{current_page}}</strong></a>


                        {% if current_page < total_pages %}
                            {% for i in range(current_page + 1, [current_page + 4, total_pages + 1]|min) %}
                                <a href="{{ base_url }}&page={{ i }}">{{ i }}</a>
                            {% endfor %}

                            <a class="next-btn" href="{{ base_url }}&page={{ current_page + 1 }}">Next</a>
                            <a href="{{ base_url }}&page={{ total_pages }}">&gt;&gt;</a>
                        {% endif %}

                    </div>
                {% endif %}

                {% if total_results > 0 %}
                    {% for topic in results %}
                        {{ macros.topic_row(topic, show_cat=True) }}

                        {% if not loop.last %}
                            <hr />
                        {% endif %}
                    {% endfor %}
                {% else %}
                    Your search query returned no results. Please modify your query and try again.
                {% endif %}
            </section>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>
